@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {

    @variants dark {
        .button {
            @apply bg-dark-button;
            @apply text-dark-text;
        }
        .button:hover {
            background: #4E4F50;
        }
        .button:active {
            @apply bg-dark-button;
            transform: scale(.95);
        }
        .search-result-item {
            @apply flex items-center p-4 rounded-lg cursor-pointer hover:bg-indigo-500 dark:hover:bg-dark-panel hover:text-white dark:text-dark-icon dark:hover:text-dark-text dark:hover:text-gray-300 transition;
        }
        .search-result-item:active {
            transform: scale(.99);
        }
        .search-result-item-selected {
            @apply bg-indigo-500 text-white dark:text-white dark:bg-dark-panel;
        }
        .search-result-icon {
            @apply pr-4 cursor-pointer
        }
    }
}

.timetable-bg {
    background-color: #f7f8fc;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%23eceffb' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
